<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag    "depot", :media => "all" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
</head>
<body id="store">

<div id="banner">
  <%= image_tag("logo.png")  %>
  <%= @page_title || "Pragmatic Bookshelf"%>
</div>
<div id="columns">
  <div id="side">
    <div id="cart">
      <%= render @cart %>
    </div>

   <p><a href="http://www....">Home</a></p>
   <p><a href="http://www..../faq">Questions</a></p>
   <p><a href="http://www..../news">News</a></p>
   <p><a href="http://www..../contact">Contact</a></p>
  </div>
</div>

<div id="main">
<%= yield %>
</div>
</body>
</html>
